* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

:root {
    --primary-color: #ea1b4c;
    --text-color: #363636;
}

.dashboard {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
}

header {
    text-align: center;
    padding-top: 16px
}

header h4 {
    color: var(--primary-color);
}

header h3 {
    margin-top: 4px;
}

.cd {
    justify-content: center;
    width: 200px;
    margin: 8px auto 8px;
    
}

.cd-thumb {
    background: no-repeat center / cover ;
    padding-top: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid var(--text-color);
}

.control {
    display: flex;
    margin: 18px 0;
    justify-content: space-evenly;
}

.btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color)
}

.btn.active {
    color: var(--primary-color);
}

.btn.btn-repeat {

}

.btn.btn-prev {

}

.btn.btn-toggle {
    border-radius: 50%;
    font-size: 26px;
    color: #fff;
    background-color: var(--primary-color);
}

.btn.btn-next {

}

.btn.btn-random {

}

#seek {
    width: 90%;
    margin: auto;
    display: block;
}

.player.playing {
    
}


/* List song */

.playlist {
    padding-top: 12px;
    background-color: #bdbcbd;
    height: 600px;
    margin-top: 380px;
}

.song {
    display: flex;
    background-color: #e8e8e8;
    margin-top: 16px;
    align-items: center;
    height: 60px;
    width: 94%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px auto 0;
}

.song.active {
    background-color: var(--primary-color);
    color: #fff;
}

.song .options {
    margin-right: 12px;
}

.descript-song {
    margin-left: 12px;
}

.song .singer {
    font-size: 14px;
    font-weight: 300;
}

.thumb {
    margin-left: 12px;
    background: no-repeat center / cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
